certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
idna==3.2
joblib==1.0.1
loguru==0.5.3
nltk==3.6.2
numpy==1.21.0
opencv-python==4.5.3.56
Pillow==8.3.1
regex==2021.7.6
requests==2.26.0
scipy==1.7.0
torch==1.9.0
torchtext==0.10.0
torchvision==0.10.0
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
